<header>
    <nav class="grey lighten-2">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo chance grey-text text-darken-4">Ye' Olde Tech Blog</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down roboto four">
                <li id="nav-home"><a class="grey-text text-darken-4" href="/">Home</a></li>
                <li id="nav-dash"><a class="grey-text text-darken-4" href="/dashboard">Dashboard</a></li>
                <li><a class="grey-text text-darken-4" href="/api/v1/users/auth/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
    <ul class="sidenav roboto four" id="mobile-demo">
        <li><a class="grey-text text-darken-4" href="/">Home</a></li>
        <li><a class="grey-text text-darken-4" href="/dashboard">Dashboard</a></li>
        <li><a class="grey-text text-darken-4" href="/login">Login</a></li>
        <li class="hide"><a href="logout">Logout</a></li>
    </ul>
</header>