<div class="animate__animated animate__fadeIn">
    <video id="OURvideo" poster="img/OUR_poster.jpg" class="" autoplay muted loop>
        <source src="video/OUR1.mp4" type="video/mp4">
        <source src="video/OUR1/OUR1.webm" type="video/webm">
    </video>
</div>
<main class="container animate__animated animate__fadeIn m-5-top reading m-5-bottom">
    <div class="container flow-text">
        <h1 class="zero roboto grey-text text-lighten-3" id="title">ECHO CHAMBER</h1>
        <p class="zero roboto grey-text text-lighten-3" id="title">where our thoughts and ideas collide</p>
    </div>
</main>